<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>
    <%= title %>
</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/common/csi.ico"/>

<!-- Bootstrap core CSS-->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="/stylesheets/sb-admin.css" rel="stylesheet">
<link href="/stylesheets/common.css" rel="stylesheet">
<link href="/stylesheets/table.css" rel="stylesheet">
<link href="/stylesheets/media-screen-size.css" rel="stylesheet">

<link href="/vendor/jquery-plugins/css/jquery-ui.min.css" rel="stylesheet">
<link href="/stylesheets/custom-jquery-ui.css" rel="stylesheet">
<link href="/vendor/jquery-plugins/css/jquery.toast.css" rel="stylesheet">

<!-- jquery JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery-plugins/jquery-ui.min.js"></script>

<script>   
    $.widget.bridge('uibutton', $.ui.button);
    $.widget.bridge('uitooltip', $.ui.tooltip);
</script>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-plugins/jquery.easing.min.js"></script>
<script src="/vendor/jquery-plugins/jquery.toast.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/message.js"></script>
<script src="/js/business.js"></script>
<script src="/js/common.js"></script>
<script src="/js/override.js"></script>

<script src="/js/widget/widget.card.js"></script>
<script src="/js/widget/widget.table.js"></script>



