<nav class="navbar navbar-expand-lg navbar-dark bg-red fixed-top" id="mainNav">    
    <a class="navbar-brand" href="/tso-console/dashboard"><img src="/images/common/logo.png"></a>
    <button class="navbar-toggler navbar-toggler-right point-cursor" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <div class="nav-link" name="dashboard" >
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </div>
            </li>
            <li class="nav-item" data-placement="right" data-toggle="tooltip" title="Log History Zone">
                <div class="nav-link" name="statistichistory" >
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Log History Zone</span>
                </div>
            </li>
            <li class="nav-item" data-placement="right" data-toggle="tooltip" title="Log History Floor">
                <div class="nav-link" name="statistichistoryfloor">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Log History Floor</span>
                </div>
            </li>
            <li class="nav-item" data-placement="right" data-toggle="tooltip" title="Log All History">
                <div class="nav-link" name="statistichistoryall">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Log All History</span>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Room Control">
                <div class="nav-link" name="roomcontrol" >
                    <i class="fa fa-fw fa-keyboard-o"></i>
                    <span class="nav-link-text">Room Control</span>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Management">
                <div class="nav-link" name="management" >
                    <i class="fa fa-fw fa-list-alt"></i>
                    <span class="nav-link-text">Management</span>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Control History">
                <div class="nav-link" name="controlhistory">
                    <i class="fa fa-fw fa-history"></i>
                    <span class="nav-link-text">Control history</span>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configuration">
                <div class="nav-link" name="configuration" >
                    <i class="fa fa-fw fa-cog"></i>
                    <span class="nav-link-text">Configuration</span>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administrator">
                <div class="nav-link" name="administrator" >
                    <i class="fa fa-fw fa-user-circle"></i>
                    <span class="nav-link-text">Administrator</span>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center point-cursor" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#logoutModal" style="cursor:pointer;" id="logout-modal">
                    <i class="fa fa-fw fa-sign-out"></i>
                    <span class="tw">logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>